client/node_modules/
server/node_modules/
client/dist/
server/dist/
client/.env/
server/.env/
client/.next/
client_bp
client2
client3
client4
full-version-edited
terraform-aws-ec2-instance
full-version
demo-configs
amazon-aws
